@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/8a/2a/bf/8a2abf356ef2ec50f90b755234e26357.png);
  background-origin: border-box;
  background-position:center;
  background-repeat:no-repeat;
  padding: 20px;
}

h1, p, input, button{
    font-family: 'VT323', monospace;
    text-transform: uppercase;
}

h1{
  font-size: 40px;
  color:rgb(255, 225, 0);
  text-shadow:  1px 1px 2px black, 0 0 1em rgb(47, 47, 54), 0 0 0.2em rgb(55, 55, 55);
}